@using Application.DTOS.MenuDtos
@model List<ResultDinnerMenuDto>
<div class="row menu-body">
    <!-- Section starts: Dinner -->
    
    @foreach(var item in Model)
    {
        <div class="col-lg-6 menu-section pr-lg-5">
            <!-- Item starts -->
            <div class="menu-item">
                <div class="row no-gutters">
                    <div class="col-9 menu-item-name">
                        <h6>@item.ProductName</h6>
                    </div>
                    <div class="col-3 menu-item-price text-right">
                        <h6>@item.ProductPrice</h6>
                    </div>
                </div>
                <div class="menu-item-description">
                    <p>@item.Description</p>
                </div>
            </div>

        </div>

    }
 
</div>

